.board-container {
    width: 100vw;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

.board {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
