.key {
    width: 30px;
    height: 45px;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background-color: var(--main-text-color);
    color: #fff;
    cursor: pointer;
}

#big-key {
    width: 72px;
}

.key.wrong {
    background: var(--wrong);
}

.key.right {
    background: var(--correct);
}

.key.almost {
    background: var(--almost);
}
