.letter {
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    width: 20%;
    margin: 2px;
    display: grid;
    place-items: center;
    font-size: 4rem;
}

.letter.correct {
    background: var(--correct);
    border: 2px solid var(--correct);
    color: #fff;
}

.letter.almost {
    background: var(--almost);
    border: 2px solid var(--almost);
    color: #fff;
}

.letter.wrong {
    background: var(--wrong);
    border: 2px solid var(--wrong);
    color: #fff;
}
