.letter {
    flex: 33%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.correct {
    background-color: #528d4e;
}
.almost {
    background-color: #b49f39;
}

.wrong {
    background-color: #3a393c;
}
