@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@200;300;400;500&family=Pacifico&display=swap");

:root {
    --main-background: #f8fafc;
    --main-text-color: #0f172a;
    --correct: #22c55e;
    --wrong: #ef4444;
    --almost: #eab308;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--input-outline);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: var(--main-text-color);
}

body {
    box-sizing: border-box;
    background: var(--main-background);
    font-family: "Nunito", sans-serif;
}
